@charset "UTF-8";
/* ---- ESTILOS GENERALES ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #ffccd5;
}

footer {
  height: 100px;
  background-color: #c9184a;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #c9184a;
}

a {
  text-decoration: none;
  color: black;
}

/* ---- HEADER ---- */
.logo {
  width: 200px;
  height: 125px;
  margin-top: 30px;
  margin-right: 30px;
}

.buscadorlogo {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.d-flex {
  margin-top: 50px;
}

.btn {
  background-color: white;
  border: #ffccd5;
}
.btn:hover {
  background-color: #c9184a;
}

/* ---- NAVEGADOR ---- */
.navindex {
  list-style-type: none;
  font-size: 25px;
  font-weight: bold;
  font-weight: bold black;
  text-align: center;
}
.navindex ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.navindex li {
  padding: 20px;
}

/* ---- FOOTER ---- */
.logosredes img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

/* ---- ANIMACIONES ---- */
.imagentextonosotros img {
  transition: width 2s;
}
.imagentextonosotros img:hover {
  width: 500px;
}

.imagentextopp img {
  transition: width 2s;
}
.imagentextopp img:hover {
  width: 450px;
}

.productostienda img {
  transition: width 1s;
}
.productostienda img:hover {
  width: 320px;
}

/* ---- PAGINA DE INICIO ---- */
.section1 {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Sacramento", cursiva;
}
.section1 h2 {
  line-height: 60px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.section2 {
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section2 h2 {
  font-size: 20px;
  font-weight: bold;
}

.imagenMesa {
  width: 600px;
  height: 400px;
}

/* ---- PAGINA DE PEDIDOS PERSONALIAZADOS ----*/
.imagentextopp {
  height: 500px;
  display: flex;
  align-items: center;
  padding: 60px;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 0.3fr 1fr;
  grid-template-areas: " imagenpp parrafopp " " imagenpp botonwpp ";
  justify-items: center;
}
.imagentextopp p {
  text-align: center;
  font-size: 15px;
  margin: 30px;
}
.imagentextopp img {
  width: 400px;
}

.imagenpp {
  grid-area: imagenpp;
}

.parrafopp {
  grid-area: parrafopp;
}

.niveleslectura {
  font-weight: bold;
  color: #c9184a;
}

.botonwpp {
  grid-area: botonwpp;
  padding: 10px;
  font-size: 15px;
  background-color: #c9184a;
  border-style: double;
  border-color: black;
  font-weight: bold;
  box-shadow: 0 0 5px 2px;
}

.sectionpp h1 {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  align-items: center;
}

/* ---- PAGINA DE NOSOTROS ---- */
.sectionnosotros1 h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  font-weight: bold;
}

.imagentextonosotros {
  display: flex;
  align-items: center;
  padding: 60px;
}
.imagentextonosotros p {
  text-align: center;
  font-size: 15px;
  margin: 30px;
}
.imagentextonosotros img {
  width: 400px;
}

.sectionnosotros2 {
  display: flex;
  justify-content: space-around;
  height: 350px;
}
.sectionnosotros2 h3 {
  font-weight: bold;
}

.mapa iframe {
  height: 200px;
  width: 400px;
}
.mapa h3 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
}

.tarifas {
  font-size: 20px;
  align-items: center;
  padding-top: 100px;
  text-align: center;
  line-height: 50px;
}
.tarifas a {
  border-style: ridge;
  border-color: black;
  padding: 10px;
  background-color: #c9184a;
  box-shadow: 0 0 5px 2px;
  font-size: 15px;
}

.sectionnosotros3 {
  text-align: center;
}
.sectionnosotros3 h3 {
  font-weight: bold;
}

.formulario {
  font-size: 15px;
}
.formulario h3 {
  font-size: 20px;
}
.formulario div {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.botonform {
  font-size: 15px;
  background-color: #c9184a;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px;
}

/* ---- PAGINA DE TIENDA ---- */
.titulotienda {
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  font-weight: bold;
}

.productostienda {
  text-align: center;
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: " foto1 foto2 foto3 " " foto4 foto5 foto6 ";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding: 50px;
  row-gap: 100px;
}
.productostienda li {
  list-style-type: none;
}
.productostienda img {
  width: 300px;
  height: 250px;
}
.productostienda h2 {
  font-weight: bold;
  padding-top: 10px;
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

.foto4 {
  grid-area: foto4;
}

.foto5 {
  grid-area: foto5;
}

.foto6 {
  grid-area: foto6;
}

/* ---- PRODUCTO : LEMON PIE ---- */
.titulorogel {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
}

.fotorogel {
  width: 400px;
  padding: 50px;
}

.preciorogel {
  font-weight: bold;
  font-size: 25px;
}

.progel {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

.sectionrogel {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.precioprogel {
  padding: 50px;
}

.botoncomprar {
  font-size: 12px;
  border-style: ridge;
  border-color: black;
  padding: 10px;
  background-color: #c9184a;
  box-shadow: 0 0 5px 2px;
}

/* ---- PAGINA DE RECETAS ---- */
.titulorecetas {
  text-align: center;
  font-size: 50px;
  padding: 30px;
  font-weight: bold;
}

.parraforecetas {
  text-align: center;
  font-size: 30px;
  margin: 70px;
}

.videosrecetas {
  text-align: center;
  list-style-type: none;
  font-weight: bold;
  height: 850px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: " video1 video2 " " video3 video4 ";
  margin: 70px;
}
.videosrecetas li {
  width: 100%;
  font-size: 20px;
  padding: 20px;
}

.video1 {
  grid-area: video1;
}

.video2 {
  grid-area: video2;
}

.video3 {
  grid-area: video3;
}

.video4 {
  grid-area: video4;
}

/* ---- DISEÑO RESPONSIVE PARA TABLET ---- */
@media screen and (max-width: 770px) {
  /* ---- MODIFICACIONES PARA EL HEADER ---- */
  .logo {
    justify-content: space-around;
  }
  .logo img {
    width: 200px;
    height: auto;
    margin-left: 50px;
  }
  .nav {
    font-size: 15px;
  }
  .navindex {
    font-size: 15px;
  }
  /* ---- MODIFICACION DEL FOOTER ---- */
  .logosredes img {
    width: 25px;
    height: 25px;
    margin: 5px;
  }
  /* ---- MODIFICACION DEL INDEX ---- */
  .tortagraduacioninicio {
    display: none;
  }
  .imagenlemoninicio img {
    height: 300px;
  }
  .section2 {
    height: 350px;
    justify-content: space-around;
  }
  .section2 h2 {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .imagenMesa {
    width: 400px;
  }
  /* ---- MODIFICACION DE PAGINA PEDIDOS PERSONALIZADOS ---- */
  .sectionpp h1 {
    font-size: 20px;
  }
  .imagentextopp {
    grid-template-rows: 0.5fr 0.5fr 0.4fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
    height: 800px;
    grid-template-areas: " imagenpp  " " parrafopp " " botonwpp ";
  }
  .imagentextopp img {
    width: 200px;
  }
  .imagentextopp a {
    text-align: center;
    font-size: 13px;
  }
  .imagentextopp p {
    font-size: 15px;
  }
  /* ---- MODIFICACION DE PAGINA NOSOTROS ----*/
  .sectionnosotros1 h1 {
    font-size: 20px;
  }
  .imagentextonosotros {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .imagentextonosotros p {
    font-size: 13px;
    margin: 10px;
    margin-top: 40px;
  }
  .sectionnosotros2 {
    height: 300px;
    margin: 20px;
  }
  .sectionnosotros2 h3 {
    font-size: 13px;
  }
  .tarifas {
    font-size: 12px;
    padding-top: 50px;
  }
  .sectionnosotros3 {
    padding-top: 10px;
  }
  .sectionnosotros3 h3 {
    font-size: 13px;
  }
  .formulario div {
    font-size: 12px;
  }
  .botonform {
    font-size: 12px;
  }
  /* ---- MODIFICACION PARA PAGINA TIENDA ---- */
  .titulotienda {
    font-size: 20px;
  }
  .productostienda {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-area: " foto1 foto2" " foto3 foto4 " " foto5 foto6 ";
  }
  .productostienda img {
    width: 200px;
    height: 200px;
  }
  .productostienda h2 {
    padding-top: 10px;
  }
  .foto1 {
    grid-area: foto1;
  }
  .foto2 {
    grid-area: foto2;
  }
  .foto3 {
    grid-area: foto3;
  }
  .foto4 {
    grid-area: foto4;
  }
  .foto5 {
    grid-area: foto5;
  }
  .foto6 {
    grid-area: foto6;
  }
  /* ---- MODIFICACIONES PARA PAGINA TORTA ROGEL ---- */
  .titulorogel {
    font-size: 20px;
  }
  .fotorogel {
    width: 250px;
    padding: 20px;
  }
  .preciorogel {
    font-size: 15px;
  }
  .progel {
    padding-top: 20px;
    font-size: 13px;
  }
  .precioprogel {
    padding: 20px;
  }
  .sectionrogel {
    text-align: center;
  }
  .botoncomprar {
    padding: 5px;
    font-size: 11px;
  }
  /* ---- MODIFICACION PARA PAGINA RECETAS ---- */
  .titulorecetas {
    font-size: 20px;
  }
  .parraforecetas {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
  }
  .videosrecetas {
    height: 600px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: " video1 video2" " video3 video4";
    justify-content: center;
  }
  .videosrecetas iframe {
    width: 300px;
    height: 200px;
  }
  .videosrecetas li {
    padding: 20px;
    font-size: 15px;
  }
  .video1 {
    grid-area: video1;
  }
  .video2 {
    grid-area: video2;
  }
  .video3 {
    grid-area: video3;
  }
  .video4 {
    grid-area: video4;
  }
}
/* ---- DISEÑO RESPONSIVE PARA CELULAR---- */
@media screen and (max-width: 500px) {
  /* ---- MODIFICACION DEL HEADER ---- */
  .buscadorlogo {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
  }
  .logo {
    justify-content: space-around;
  }
  .logo img {
    width: 200px;
    height: auto;
    margin-left: 50px;
  }
  .nav {
    font-size: 15px;
  }
  .nav ul {
    flex-direction: column;
  }
  .nav li {
    padding: 5px;
  }
  .navindex {
    font-size: 15px;
  }
  .navindex ul {
    flex-direction: column;
  }
  .navindex li {
    padding: 5px;
  }
  /* ---- MODIFICACION DEL FOOTER ---- */
  .logosredes img {
    width: 25px;
    height: 25px;
    margin: 5px;
  }
  /* ---- MODIFICACION DEL INDEX ---- */
  .imagenlemoninicio {
    display: none;
  }
  .tortagraduacioninicio {
    display: none;
  }
  .section2 {
    height: 400px;
    justify-content: space-around;
  }
  .section2 h2 {
    font-size: 15px;
  }
  .imagenMesa {
    width: 400px;
  }
  /* ---- MODIFICACION DE PAGINA PEDIDOS PERSONALIZADOS ---- */
  .sectionpp {
    height: 1200px;
  }
  .sectionpp h1 {
    font-size: 20px;
  }
  .imagentextopp {
    grid-template-rows: 0.5fr 0.5fr 0.4fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 20px;
    grid-template-areas: " imagenpp  " " parrafopp " " botonwpp ";
  }
  .imagentextopp img {
    width: 300px;
  }
  .imagentextopp a {
    text-align: center;
    font-size: 13px;
  }
  .imagentextopp p {
    font-size: 15px;
  }
  /* ---- MODIFICACION DE PAGINA NOSOTROS ----*/
  .sectionnosotros1 h1 {
    font-size: 20px;
  }
  .imagentextonosotros {
    flex-direction: column;
  }
  .imagentextonosotros p {
    font-size: 15px;
    margin: 10px;
    margin-top: 40px;
  }
  .sectionnosotros2 {
    height: 400px;
    margin: 50px;
  }
  .sectionnosotros2 h3 {
    font-size: 15px;
  }
  .sectionnosotros2 {
    flex-direction: column;
  }
  .tarifas {
    padding-top: 50px;
  }
  .sectionnosotros3 {
    padding-top: 50px;
  }
  .sectionnosotros3 h3 {
    font-size: 15px;
  }
  .formulario div {
    font-size: 15px;
  }
  /* ---- MODIFICACION PARA PAGINA TIENDA ---- */
  .titulotienda {
    font-size: 20px;
  }
  .productostienda {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-area: " foto1 " " foto4 " " foto2 " " foto5 " " foto3 " " foto6 ";
  }
  .productostienda img {
    width: 200px;
    height: 200px;
  }
  .productostienda h2 {
    padding-top: 10px;
  }
  .foto1 {
    grid-area: foto1;
  }
  .foto2 {
    grid-area: foto2;
  }
  .foto3 {
    grid-area: foto3;
  }
  .foto4 {
    grid-area: foto4;
  }
  .foto5 {
    grid-area: foto5;
  }
  .foto6 {
    grid-area: foto6;
  }
  /* ---- MODIFICACIONES PARA PAGINA TORTA ROGEL ---- */
  .titulorogel {
    font-size: 20px;
  }
  .fotorogel {
    width: 200px;
    padding: 20px;
  }
  .preciorogel {
    font-size: 15px;
  }
  .progel {
    padding-top: 20px;
    font-size: 13px;
  }
  .precioprogel {
    padding: 20px;
  }
  .sectionrogel {
    flex-direction: column;
    text-align: center;
  }
  .botoncomprar {
    padding: 5px;
    font-size: 10px;
  }
  /* ---- MODIFICACION PARA PAGINA RECETAS ---- */
  .titulorecetas {
    font-size: 20px;
  }
  .parraforecetas {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .videosrecetas {
    font-size: 10px;
    height: 1400px;
    padding-left: 0;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: " video1 " " video2 " " video3 " " video4 ";
  }
  .videosrecetas iframe {
    width: 350px;
    height: 250px;
  }
  .videosrecetas li {
    padding: 0;
  }
  .video1 {
    grid-area: video1;
  }
  .video2 {
    grid-area: video2;
  }
  .video3 {
    grid-area: video3;
  }
  .video4 {
    grid-area: video4;
  }
}

/*# sourceMappingURL=estilos.css.map */
