/* ---- PAGINA DE PEDIDOS PERSONALIAZADOS ----*/

.imagentextopp {
    height: 500px;
    display: flex;
    align-items: center;
    padding: 60px;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas:
        " imagenpp parrafopp "
        " imagenpp botonwpp ";
    justify-items: center;

    p {
        text-align: center;
        font-size: 15px;
        margin: 30px;
    }

    img {
        width: 400px;
    }
}

.imagenpp {
    grid-area: imagenpp;
}

.parrafopp {
    grid-area: parrafopp;
}

.niveleslectura {
    font-weight: bold;
    color: #c9184a;
}

.botonwpp {
    grid-area: botonwpp;
    padding: 10px;
    font-size: 15px;
    background-color: #c9184a;
    border-style: double;
    border-color: black;
    font-weight: bold;
    box-shadow: 0 0 5px 2px;
}

.sectionpp h1 {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    align-items: center;
}