/* ---- PAGINA DE RECETAS ---- */

.titulorecetas {
    text-align: center;
    font-size: 50px;
    padding: 30px;
    font-weight: bold;
}

.parraforecetas {
    text-align: center;
    font-size: 30px;
    margin: 70px
}

.videosrecetas {
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    height: 850px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        " video1 video2 "
        " video3 video4 ";
    margin: 70px;

    li {
        width: 100%;
        font-size: 20px;
        padding: 20px;
    }
}

.video1 {
    grid-area: video1;
}

.video2 {
    grid-area: video2;
}

.video3 {
    grid-area: video3;
}

.video4 {
    grid-area: video4;
}